<p-overlayPanel #op>
    <ng-template pTemplate>

        <div class="container">
            <ul class="row">
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/erp/">Gestionali ERP</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-762"><a href="https://ict-group.it/soluzioni/erp/gestionale-aziendale/">Software Gestionale Aziendale ERP</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-761"><a href="https://ict-group.it/soluzioni/produzione-meccanica/produzione/">Gestione del processo produttivo</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-765"><a href="https://ict-group.it/soluzioni/erp/interventi-e-materiali/">Interventi e Materiali</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-759"><a href="https://ict-group.it/soluzioni/erp/magazzino-cantiere/">Magazzino di cantiere</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-760"><a href="https://ict-group.it/soluzioni/erp/materiali-edili/">Materiali Edili</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-756"><a href="https://ict-group.it/soluzioni/erp/carrelli-elevatori/">Carrelli Elevatori</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-758"><a href="https://ict-group.it/soluzioni/erp/fashion/">Fashion</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-768"><a href="https://ict-group.it/soluzioni/erp/gestione-imballaggi/">Gestione Imballaggi</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3653"><a href="https://ict-group.it/soluzioni/erp/gestione-soci/">Gestione Soci</a></li>

                    </ul>
                    <div class="clearfix"></div><br>

                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/tracciabilita-alimentare/">Tracciabiltà Alimentare</a></li>
                        <li><a href="https://ict-group.it/soluzioni/tracciabilita-alimentare/produzione-e-commercializzazione-alimentare/">Aziende di produzione e commercializzazione alimentare</a></li>
                        <li><a href="https://ict-group.it/soluzioni/tracciabilita-lattiero-casearie/">Tracciabilità lattiero casearie</a></li>
                        <li><a href="https://ict-group.it/soluzioni/tracciabilita-carni-bovine/">Tracciabilità Carni bovine</a></li>
                        <li><a href="https://ict-group.it/soluzioni/tracciabilita-carni-avicole/">Tracciabilità Carni avicole</a></li>
                        <li><a href="https://ict-group.it/soluzioni/tracciabilita-alimentare/carni-suine/">Tracciabilità Carni Suine</a></li>

                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/facility-management/">Facility Management</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/facility-management/">Offerte tecniche</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/facility-management/">Contratti e commesse</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/facility-management/">Controllo Qualità</a></li>
                        <li><a href="https://ict-group.it/soluzioni/risorse-umane/">Risorse Umane</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/facility-management/">Gestione automezzi ed attrezzature</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/asset-management/">Asset Management</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/energy-management/">Energy Management</a></li>
                        <li><a href="https://ict-group.it/soluzioni/facility-management/facility-management/">Maintenance Management</a></li>

                    </ul>
                    <div class="clearfix"></div><br>

                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/risorse-umane/">HR</a></li>
                        <li><a href="https://ict-group.it/soluzioni/risorse-umane/">Risorse Umane</a></li>
                        <li><a href="https://ict-group.it/soluzioni/risorse-umane/">Rilevazione presenze</a></li>
                        <li><a href="https://ict-group.it/soluzioni/risorse-umane/">Elaborazione straordinari e maggiorazioni</a></li>
                        <li><a href="https://ict-group.it/soluzioni/risorse-umane/">Budget e costi del personale</a></li>
                        <li><a href="https://ict-group.it/soluzioni/risorse-umane/">Provvedimenti disciplinari</a></li>
                        <li><a href="https://ict-group.it/soluzioni/gestione-del-personale/moduli-verticali-add-ons-hr/">Moduli aggiuntivi EGGS HR</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/lavanderie-industriali/sixster-laundry-management/">Lavanderie Industriali</a></li>
                        <li><a href="https://ict-group.it/soluzioni/lavanderie-industriali/sixster-laundry-management/">Biancheria Piana</a></li>
                        <li><a href="https://ict-group.it/soluzioni/lavanderie-industriali/sixster-laundry-management/">Biancheria Confezionata</a></li>
                        <li><a href="https://ict-group.it/soluzioni/lavanderie-industriali/sixster-laundry-management/">Manutenzione Impianti</a></li>
                        <li><a href="https://ict-group.it/soluzioni/lavanderie-industriali/sixster-laundry-management/">Analisi Produttività</a></li>


                        <li><a href="https://ict-group.it/soluzioni/lavanderie-industriali/gestionale-per-le-lavanderie-industriali/">ERP Lavanderie industriali</a></li>
                        <li><a href="https://ict-group.it/soluzioni/gestione-kit-monouso-tnt/">Software per gestione<br>kit monouso (TNT)</a></li>

                    </ul>
                    <div class="clearfix"></div><br>
                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/soluzioni-sanita/">Sanità</a></li>
                        <li><a href="https://ict-group.it/soluzioni/sisos/">Sala Operatoria Sicura</a></li>
                        <li><a href="https://ict-group.it/soluzioni/centrale-di-sterilizzazione-strumentale-chirurgico/">Centrale di sterilizzazione<br>Strumentale chirurgico</a></li>
                        <li><a href="https://ict-group.it/soluzioni/centrale-di-sterilizzazione-materiale-tessile/">Centrale di sterilizzazione<br>materiale tessile (TTR)</a></li>
                        <li><a href="https://ict-group.it/soluzioni/marcatura-strumentario-datamatrix/">Marcatura strumentario (Datamatrix)</a></li>

                        <li><a href="https://ict-group.it/soluzioni/suis-innovativo-sistema-di-visione-basato-su-intelligenza-artificiale/">SUIS – innovativo sistema di visione</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">

                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/altre-soluzioni/">Altre Soluzioni</a></li>
                        <li><a href="https://ict-group.it/soluzioni/tentata-vendita/">Tentata vendita</a></li>
                        <li><a href="https://ict-group.it/soluzioni/altre-soluzioni/catalogo-digitale/">Catalogo digitale / Weborder</a></li>
                        <li><a href="https://ict-group.it/soluzioni/business-intelligence/">Business Intelligence</a></li>
                        <li><a href="https://ict-group.it/soluzioni/gestione-documentale">Gestione Documentale</a></li>
                        <li><a href="https://ict-group.it/soluzioni/app-presa-ordini/">APP Presa Ordini</a></li>

                        <li><a href="https://ict-group.it/soluzioni/altre-soluzioni/e-commerce-shop-online/">E-commerce / Shop online</a></li>

                        <li><a href="https://ict-group.it/soluzioni/eggspilot/">
EGGSPILOT - governa i tuoi accessi</a></li>
                    </ul>
                    <div class="clearfix"></div><br>


                    <ul>
                        <li class="dropdown-header"><a href="https://ict-group.it/soluzioni/fatturazione-elettronica/">Fatturazione elettronica</a></li>
                        <li><a href="https://ict-group.it/soluzioni/fatturazione-elettronica/">EGGSSDI</a></li>
                    </ul>


                </li>
            </ul>

        </div>

    </ng-template>
</p-overlayPanel>

<section class="header header-fixed-top">
    <div class="container">

        <div class="navbar">

            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/' + lang]"><img alt="Logo" src="https://ict-group.it/wp-content/themes/ict/images/logo.svg" class="header-brand"></a>
            </div>



            <ul class="nav navbar-nav menu-hidden">

                <li *ngFor=" let page of pages">
                    <a [routerLink]="[lang + '/'+ page.value]" aria-current="page">{{page.title}}</a>
                </li>


                <li>
                    <a data-toggle="modal" data-target="#search"><i class="fa fa-search" aria-hidden="true"></i> </a>
                </li>



                <li class="languages first">
                    <a (click)="useLanguage('it')" class="current cp">IT</a>
                </li>
                <li class="languages">
                    <a (click)="useLanguage('en')" class="cp">EN</a>
                </li>

                <li class="dropdown menu-large">
                    <a class="dropdown-toggle btn-blue-menu sections" (click)="op.toggle($event)">Prodotti</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<router-outlet>

</router-outlet>